<h1>Press</h1>
	<div class="press_container">

	<a href="<%=asset_path('press/Jack_Pearson-poster(8x14).pdf') %>">
		<img src="<%=asset_path('Jack_Pearson-poster(8x14)_thumb200.jpg') %>" alt="Jack Pearson - poster">
	</a>

	<p>Poster - 8.5" x 14" <br>
		<a href="<%=asset_path('press/Jack_Pearson-poster(8x14).pdf') %>">Download</a> <span class="grey">(1.5mb PDF)</span></p>

</div>


<div class="press_container">

	<a href="<%= asset_path('press/Jack_Pearson-photo(5x7_300dpi).jpg') %>">
		<img src="<%= asset_path('Jack_Pearson-photo(5x7_300dpi)_thumb200.jpg') %>" alt="Jack Pearson - promo photo">
	</a>

	<p>Photo - 5" x 7", 300dpi <br>
		<a href="<%= asset_path('press/Jack_Pearson-photo(5x7_300dpi).jpg') %>">Download</a> <span class="grey">(400k JPEG)</span></p>

</div>

<div class="press_container">
<a href="<%= asset_path('press/Jack_Pearson-photo.jpg') %>">
        <img src="<%= asset_path('jack_pearson_thumbnail.jpg') %>" alt="Jack Pearson - promo photo">
    </a>
<p>Photo - High Resolution, color <br>
        <a href="<%= asset_path('press/Jack_Pearson-photo.jpg') %>">Download</a> <span class="grey">(JPEG)</span></p>

</div>
