<h2><%= @album.title %></h2>
  <div style="width:300px;">
  </div>

<div id="product-image">
	<img class="album-big" width="300" height="300" src="<%= @album.cover_art.url %>" alt="7 Stories Tall">
  <p style="width:300px;"><%= @album.short_description %></p>
</div>
<div id="product-details">
	<table id="track-listing" border="0">
    <tbody>
      <% @album.songs.order('track_number ASC').each do |song| %>
        <tr class="<%= song.track_number % 2 == 0 ? 'even' : 'odd' %>">
          <td class="track-number"><%= song.track_number %>.</td>
          <td class="track-title"><%= song.title %>
          <td class="track-audio-player">
            <i class="fa fa-play audio-sample" aria-hidden="true" data-url="<%= song.audio_file.url %>"></i>
          </td>
          <td class="track-lyrics">&nbsp;|&nbsp;<%= link_to 'lyrics', album_song_path(@album, song) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @album.for_sale? && store_enabled? %>

  <div style="clear:both;">
    <h3>Price
    <span id="price"><%= format_pennies(@album.price_in_pennies) %></span>
    </h3>
  </div>

  <%= form_for(OrderItem.new) do |f| %>
    <%= f.hidden_field :stripe_sku, value: @album.sku %>
    <%= f.number_field :quantity, value:  1 %>
    <%= f.submit 'Add to cart' %>
  <% end %>
<% end %>

<script>
  var player = AudioPlayer();
  $(function() {
    $('.audio-sample').on('click', function(e) {
      var wasPlaying = $(this).hasClass('fa-stop');

      // Set everything to the play button.
      $('.audio-sample').removeClass('fa-stop').addClass('fa-play');

      player.select($(this).data('url'));

      if (wasPlaying) {
        // Change to play button
        $(this).removeClass('fa-stop').addClass('fa-play');
      } else {
        // Change to stop button
        $(this).removeClass('fa-play').addClass('fa-stop');
      }
    })
  });
</script>

<!-- <script>
  // Dummy. Makes stuff easier.
  var player = {
    play: function(url) {

    },

  }

  $(function() {
    $('.audio-sample-play').on('click', function(e) {
      e.preventDefault();
      sound.stop();
      sound = new Howl({
        src: [$(this).data('url')]
      });
      sound.play();
    });
  });
</script> -->
